/* ===========================
   MOBILE RESPONSIVE
=========================== */

@media (max-width:768px){

.menu-toggle{
    display:block;
   cursor:pointer;
}

.nav-links{
    position:absolute;
    top:60px;
    left:-100%;
    width:100%;
    background:#fff;
    flex-direction:column;
    gap:25px;
    padding:30px 0;
    transition:.4s;
    box-shadow:0 10px 20px rgba(0,0,0,.1);
}

.nav-links.active{
    left:0;
}

.hero{
    flex-direction:column-reverse;
    text-align:center;
}

.hero-text h1{
    font-size:38px;
}

.hero-buttons{
    justify-content:center;
    flex-wrap:wrap;
}

.hero-image img{
    width:80%;
    margin:auto;
    padding-top:40px;
}

}
/*====================================
CONTACT PAGE RESPONSIVE
====================================*/

@media (max-width:768px){

.contact-hero{

    min-height:auto;
    padding:120px 0 80px;

}

.contact-hero-content{

    flex-direction:column;
    text-align:center;
    gap:50px;

}

.contact-text h1{

    font-size:48px;

}

.contact-text p{

    max-width:100%;
    font-size:18px;

}

.contact-image img{

    max-width:380px;

}

.contact-wrapper{

    display:grid;
    grid-template-columns:1fr;
    gap:30px;

}
.contact-tag {
    display: inline-block;
    color: #0c0904;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 20px;
    padding: 12px 10px 60px;
    flex: 1;
}


.contact-form-card{

    max-width:100%;

}

.contact-info{

    width:100%;

}

.contact-cta h2{

    font-size:34px;

}

}
@media (max-width:768px){

.contact-hero{

    padding:100px 0 70px;

}

.contact-text h1{

    font-size:38px;

}

.contact-text p{

    font-size:17px;

}

.contact-image img{

    max-width:300px;
    margin-left:100px;

}

.contact-form-card{

    padding:30px;

}

.contact-form-card h2{

    font-size:28px;

}

.contact-info{

    padding:30px;

}

.whatsapp-card{

    padding:35px 25px;

}

.whatsapp-card h2{

    font-size:28px;

}

.contact-cta{

    padding:40px 20px;

}

.contact-cta h2{

    font-size:30px;

}

.map-box iframe{

    height:320px;

}
.contact-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #2d629b;
    margin-top: -100px;
}

}

@media (max-width:768px){

.contact-text h1{

    font-size:30px;

}

.contact-tag{

    font-size:18px;

}

.contact-text p{

    font-size:15px;

}
.contact-form-section {
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.contack-form-card {
    width: 100%;
}
.contact-info{
    width: 100%;
}
.contact-form-card{

    padding:22px;

}

.contact-form-card h2{

    font-size:24px;

}

.input-box input,
.input-box textarea{

    padding:15px;

    font-size:15px;

}

.contact-btn{

    padding:15px;

    font-size:16px;

}

.info-card{

    flex-direction:column;
    text-align:center;

}

.icon{

    margin-bottom:10px;

}

.whatsapp-card h2{

    font-size:24px;

}

.whatsapp-btn{

    width:100%;
    text-align:center;

}

.contact-cta h2{

    font-size:24px;
}

.contact-cta p{

    font-size:16px;

}

.cta-btn{

    width:100%;
    display:block;

}

.map-box iframe{

    height:250px;

}

}

@media(max-width:768px){

.about-hero-content{
    grid-template-columns:1fr;
    text-align:center;
}

.about-text h1{
    font-size:38px;
}

.about-image{
    order:-1;
}

.about-image img{
    max-width:320px;
    border-radius:20px;
    margin-left: 100px;
}

}
@media(max-width:768px){

.story-container{
    grid-template-columns:1fr;
    gap:40px;
}

.story-content{
    text-align:center;
}

.story-content h2{
    font-size:32px;
}

.story-buttons{
    flex-direction:column;
}

.story-btn,
.story-btn-outline{
    width:100%;
    text-align:center;
}

}
@media(max-width:768px){

.section-title h2{
    font-size:32px;
}

.why-container{
    grid-template-columns:1fr;
}

}

@media(max-width:768px){

.mission-container{
    grid-template-columns:1fr;
}

.mission-card{
    padding:35px 25px;
}

.mission-card h3{
    font-size:24px;
}

}
@media(max-width:768px){

.about-cta{
    padding:70px 20px;
}

.about-cta h2{
    font-size:34px;
}

.about-cta p{
    font-size:16px;
}

.cta-buttons{
    flex-direction:column;
}

.cta-order,
.cta-contact{
    width:100%;
}

}
